#schedule {
  color: royalblue;
  font-family: Verdana, sans-serif;
  margin: 5px 3px;
  border-collapse: collapse;
  width: 100%;
}

#schedule th {
  background-color: royalblue;
  border-left: 1px solid #fbfeff;
  color: #fbfeff;
  font-weight: normal;
  padding: 3px;
}

#schedule td {
  padding: 0 3px;
}

#schedule td.command {
  text-shadow: black 2px 2px 3px;
  cursor: pointer;
}

#schedule td.command:active {
  text-shadow: none;
}

#schedule td.command.disabled {
  color: lavender;
  text-shadow: none !important;
  cursor: default;
}

#schedule td:first-child {
  text-align: right;
}

#schedule tr[data-current] td:nth-child(-n+3),
#schedule tr:not(:last-child):hover td:nth-child(-n+3) {
  background: lightblue;
}

.tasmota1 td {
  color: salmon;
}

#schedule tr.tasmota1:not(:last-child):hover td:nth-child(-n+3) {
  background: antiquewhite;
}

#schedule tr:not(:last-child) td:not(.command) {
  border-right: 1px solid royalblue;
}

#schedule tr:last-child td:not(.command) {
  border-top: 1px solid royalblue;
}

#schedule tr.notsaved td:nth-child(-n+3) {
  text-shadow: black 2px 2px 3px;
}

#weekdays label {
  font-size: smaller;
  height: 48px;
  display: block;
  float: left;
  vertical-align: top;
  text-align: center;
}

.sunrise td:first-child::before {
  content: "🌅";
}

.sunset td:first-child::before {
  content: "🌇";
}
