footer {
  text-align: right;
  clear: both;
  color: inherit;
  font-family: Arial, helvetica, sans-serif;
  font-size: 8px;
  margin: 0;
  padding: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

footer a:hover {
  color: crimson;
  cursor: pointer;
}
