body {
  font-family: Arial, helvetica, sans-serif;
  color: royalblue;
  display: inline-block;
  background-color: #fbfeff;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 100%;
}

h1, h2, .modal-header {
  margin: 2px;
}

hr {
  height: 1px;
  clear: both;
  background-color: royalblue;
  border: 0;
  margin: 2px 0 0 3px;
}

.switchboard {
  display: inline-block;
  font-size: 12px;
  -webkit-box-shadow: 2px 2px 3px black;
  box-shadow: 2px 2px 3px black;
  margin: 10px 0 10px 5px;
  padding: 0px 0px 10px 0px;
}

.switchboard div {
  display: block;
  margin: 3px;
}

.switchboard .description {
  display: block;
}

.switchboard .schedule,
.switchboard .state {
  height: 32px;
  margin: 0 3px;
}

.switchboard .state label.switch,
.switchboard .state input {
  width: 58px;
  height: 32px;
}

input:checked + span.slider {
  background-color: royalblue;
}

label.switch span.slider:before {
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 2px;
}

.switchboard .schedule {
  position: relative;
  float: left;
  padding: 0;
  border: 0;
  border: 1px silver solid;
}

.configurable .anchor {
  opacity: 0;
  top: -12px;
  right: -2px;
  width: 28px;
  height: 0;
  overflow: hidden;
  position: absolute;
  border: 0px black solid;
  border-radius: 0.25em;
  transition: opacity 250ms ease, height 0ms 250ms, border 0ms 250ms;
  background-color: rgba(255,250,205,.7);
  z-index: 99;
  background-image: url(/images/gear.svg);
}

.configurable:hover .anchor {
  opacity: 1;
  height: 28px;
  border-width: 1px;
  cursor: pointer;
}

div.auth {
  float: right;
}

h2,
div.auth,
div.auth a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-family: Arial, helvetica, sans-serif;
  font-size: 9px;
  margin: 0 3px;
  padding: 0px;
}

section {
  clear: both;
}

/* Collapsible sections */
.collapsible h2 {
  cursor: pointer;
}

.collapsible h2::before {
  display: inline-block; /* a trick for rotate */
  content: '▼';
  padding: 0 3px;
}

.collapsible.collapsed h2::before {
  rotate: -90deg;
}

/* */
div.auth a:hover {
  color: crimson;
  cursor: pointer;
}

#username {
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
}

.modal {
  border-radius: 7px;
  text-shadow: black 2px 2px 3px;
  color: white;
  display: none;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 140px;
  overflow: auto;
  transform: translate(-50%, -50%);
  width: 280px;
  padding: 0 3px 20px 3px;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal hr {
  background-color: white;
}

.modal h2 {
  cursor: default;
}

.modal input[type="text"],
.modal input[type="password"] {
  border-radius: 3px;
  border: 1px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* The Close Button */
.modal-close, .modal-header {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.modal-close {
  float: right;
  width: 1em;
  text-align: center;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

:disabled {
  color: initial;
  cursor: not-allowed;
}

.buttons {
  text-align: center;
  margin: revert !important;
}
