span.temperature {
	position: absolute;
	top: 96px;
	right: 16px;
	text-align: right;
	white-space: nowrap;
	font-size: 14px;
	z-index: 99;
}

span.temperature:after {
	content: "\002103";
	color: firebrick;
}
