table.aqua1 {
	position: relative;
	background-image: url("/plugins/aqua/images/aqua1_tank.png");
	background-size: 380px 270px;
	width: 380px;
	height: 270px;
}

table.aqua2 {
	position: relative;
	background-image: url("/plugins/aqua/images/aqua2_tank.png");
	background-size: 260px 270px;
	width: 260px;
	height: 270px;
}

table.aqua1,
table.aqua2 {
	background-repeat: no-repeat;
	caption-side: bottom;
	font-family: DejaVu Sans, Arial, helvetica, sans-serif;
	font-size: 12px;
	border: 0;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

table.aqua1 td,
table.aqua2 td {
	height: 270px;
	padding: 0;
	border: 0;
	vertical-align: top;
}

table.aqua1 td img,
table.aqua2 td img {
	height: 270px;
}

table.aqua1 caption,
table.aqua2 caption {
	padding: 0;
}

div.plugin_aqua {
	display: inline-block;
}
