div#ntp {
	text-align: right;
	color: inherit;
	font-family: Arial, helvetica, sans-serif;
	margin: 0;
}

div#ntp span:nth-child(even) {
	text-transform: uppercase;
	font-weight: bold;
}

div#ntp .good {
	color: inherit;
}

div#ntp .warn {
	color: royalblue;
}

div#ntp .alarm {
	color: crimson;
}
