@keyframes plants {
  0% {
    transform: skewX(0);
    -webkit-transform: skewX(0);
  }
  50% {
    transform: skewX(2.5deg);
    -webkit-transform: skewX(2.5deg);
  }
  100% {
    transform: skewX(0);
    -webkit-transform: skewX(0);
  }
}

