:root {
  --animps: running;
}

img.plants {
  position: absolute; /* this is the same key moment: absolute positioning inside relative one */
  transform-origin: center bottom; /* center of fish, as they are on image */
  height: 135px; /* Real height of images */
  z-index: 3; /* Default */
  animation: plants 5s infinite;
  animation-direction: alternate;
  animation-play-state: var(--animps, running);
}

#echinodorus6,
#echinodorus7,
#alternanthera1,
#cryptocoryne2 {
  z-index: 13; /* Fish behind them */
}

img.fish {
  margin: 0;
  padding: 0;
  position: absolute;
  object-position: left top; /* left top position is much accurate than others */
}

#gourami0,
#gourami0 img {
  z-index: 10;
  animation-timing-function: cubic-bezier(0.9, 1, 0.3, 0.75);
}

#gourami1,
#gourami1 img {
  z-index: 9;
  animation-timing-function: cubic-bezier(0.2, 1, 0.8, 0.75);
}

#school0 {
  z-index: 10;
  animation-timing-function: cubic-bezier(0.5, 0.9, 0.8, 0.75);
}

#school1 {
  z-index: 11;
  animation-timing-function: cubic-bezier(0.3, 1.3, 0.9, 0.75);
}

#school2 {
  z-index: 12;
  animation-timing-function: cubic-bezier(0.5, 1, 0.6, 0.75);
}

#school3 {
  z-index: 13;
  animation-timing-function: cubic-bezier(0.6, 1, 0.9, 0.75);
}
