:root {
  --label-name-width: max-content;
}

.stack {
  display: inline-block;
  vertical-align: bottom;
  position: relative; /* this is a key moment: absolute positioning inside relative one */
  font-family: DejaVu Sans, Arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
}

.stack img{
  position: absolute; /* this is the same key moment: absolute positioning inside relative one */
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
}

img.airpump {
  z-index: 1;
}

img.ground {
  z-index: 2;
}

div.stack svg,
img.tank {
  z-index: 3;
}

img.air {
  left: 260px;
  z-index: 4;
}

img.lighting,
.stack .light {
  z-index: 5;
}

img.reflection {
  z-index: 99;
}

input#toggle-animation {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

input#toggle-animation+label.pause-animation::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin: 0 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #cccccc;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'><g><rect x='1' y='1' width='2' height='6' fill='white'/><rect x='5' y='1' width='2' height='6' fill='white'/></g></svg>");
  cursor: pointer;
  z-index: 100;
}

input#toggle-animation+label.pause-animation {
  align-items: center;
  user-select: none;
}

input#toggle-animation:checked+label.pause-animation::before {
  border-color: #0b76ef;
  background-color: royalblue;
}

input#toggle-animation:checked+label.pause-animation::after {
  content: attr(aria-label);
}

div.plugin_aqua_z {
  display: inline-block;
}

.label {
  border: 1px solid royalblue;
  border-radius: 1ex;
  padding: 0 1ex 0 0;
  margin: 3px;
  cursor: pointer;
}

.label:before {
  display: inline-block;
  content: attr(data-id);
  border-radius: 1ex 0 0 1ex;
  background-color: royalblue;
  padding: 1ex 0 1ex 1ex;
  color: white;
  margin: -1px;
  width: var(--label-name-width);
}

.label.selected {
  border: 1px solid royalblue;
  background-color: #cfcfff;
}

.label>span {
  display: inline-block;
  font-size: 11px;
  padding: 0 0 0 1em;
  vertical-align: middle;
}

.label>span>span {
  display: block;
}

.label span span.enabled {
  background-color: royalblue;
  color: white;
}

.controls input[type="number"] {
  width: 4em;
  text-align: right;
}

.controls input[type=number]::-webkit-inner-spin-button,
.controls input[type=number]::-webkit-outer-spin-button {
  width: 30px;
}

.controls fieldset {
  border: 1px solid royalblue;
  border-radius: 1ex;
  display: inline;
  white-space: nowrap;
  vertical-align: top;
  height: 5ex;
  margin-right: 0.5ex;
}

.controls p {
  margin: 0;
}


label.disabled {
  color: silver;
}

img.selected {
  background: rgba(0, 0, 255, 0.3);
}

.label .metrics span {
  text-align: center;
}

.label .metrics span::before {
  display: inline-block;
  content: attr(data-before);
  text-align: right;
  width: 4ex;
}

.label .metrics span::after {
  display: inline-block;
  content: attr(data-after);
  text-align: left;
  width: 4ex;
}
