.aqua1,
.aqua1 img {
  height: 270px;
}

.aqua1,
.aqua1 .tank,
.aqua1 .lighting,
.aqua1 .light {
  width: 380px;
}

.aqua1 .gourami {
  width: 282px; /* W(water)-W(fish) for animate in % */
  height: 122px;  /* H(water)-H(fish) for animate in %  */
  top: 90px; /* Top offset of water */
  left: 14px; /* Left Offset of water */
  container-type: size;
  position: absolute;
}

.gourami img {
  /* fish: 70px x 52px; */
  display: none;
  transform-origin: 36px 13px; /* center of fish, as they are on image */
  position: relative;
  width: 70px;
  height: 52px;
}
