.aqua2,
.aqua2 img {
  height: 270px;
}

.aqua2,
.aqua2 .tank,
.aqua2 .lighting,
.aqua2 .light {
  width: 260px;
}

.aqua2 .school {
  width: 205px; /* W(water)-W(fish) for animate in % */
  height: 100px;  /* H(water)-H(fish) for animate in %  */
  top: 150px; /* Top offset of water */
  left: 14px; /* Left Offset of water */
  container-type: size;
  position: absolute;
}

.school img {
  /* fish: 27px x 13px; */
  display: none;
  transform-origin: 14px 6px; /* center of fish, as they are on image */
  position: relative;
  width: 27px;
  height: 13px;
}
