div.plugin_sensors li {
	font-size: 14px;
}

div.plugin_sensors .disabled {
	color: gray;
}

ul.platforms > li {
	list-style: url("/images/board.svg");
	cursor: pointer;
}

ul.details {
	cursor: initial;
}

ul.sensors li.outlet {
	list-style: url("/images/outlet.svg");
}

ul.sensors li.thermometer {
	list-style: url("/images/thermometer.svg");
}

ul.details,
ul.sensors li.outlet ul,
ul.sensors li.thermometer ul {
	padding-left: 0;
}

ul.platforms > li::marker,
ul.sensors > li::marker {
	font-size: 2.5em;
	line-height: 0;
}

ul.details > li,
ul.sensors li.outlet li,
ul.sensors li.thermometer li {
	list-style: '├─ ';
}

ul.details > li:last-child,
ul.sensors li.outlet li:last-child,
ul.sensors li.thermometer li:last-child {
	list-style: '└─ ';
}
